.logo{
    text-align:center; 
    background-color: #000000; 
}
.make_id{
    width : 500px;
    text-align:left;
    padding-top:10px;
    padding-bottom:10px;
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

}
p{
    display:inline;
    padding-left:10px;
    padding-right:10px;
}
#user_id{
    display:inline;
}
input[type="text"]{
    display:inline;
}
#user_password{
    position: relative;
    right: 200px;
}
.sign_button{
    margin:5px;
    width: 90px;
    height: 30px;
    border: 0px;
    background: #000000;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}